* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
}
body {
}
.main-label {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
  padding: 24px;
}
.body-page {
  background-color: #1d75de;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
}
.button {
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
}
