h1 {
  margin: 0;
  padding: 0;
}
:root {
  --text-color: white;
  --text-font-family: Arial, Helvetica, sans-serif;
}
.body {
  font-family: var(--text-font-family);
}
.contenedor {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.main-label {
  margin-inline: 20px;
  background-color: black;
  height: 50px;
}
.hero {
  position: relative;
  background-color: #1d75de;
  object-fit: contain;

  background-image: url("../images/premium_dancer.png");

  background-size: 30%;
  background-position: 100%, 0;
  background-repeat: no-repeat;
  color: var(--text-color);
  height: 50vh;
  padding: 20px;
}

.beneficios {
  display: flex;
  flex-direction: column;
  position: relative;
}
.titulo2 {
  position: relative;
}
/* .titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.item1 {
  border: solid black;
}

.item2 {
  border: solid black;
}

.item3 {
  border: solid black;
}

.item4 {
  border: solid black;
}

.button {
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
}
.footer {
  position: relative;
  color: white;
  background-color: black;
}
